<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Inscription</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" media="screen" href="./assets/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="./assets/css/style.css" />
</head>

<body>
  <div id="app">
    <div class="bloc">
      <h1 class="titre">Inscription</h1>

      <form class="ui form">
        <div class="field">
          <label>Pseudo</label>
          <div class="ui left icon input">
            <input type="text" placeholder="" v-model="pseudo">
            <i class="address book icon"></i>
          </div>
        </div>

        <div class="field">
          <div class="two fields">
            <div class="field" id="mdp" >
              <label for="id-mdp">Mot de passe</label>
              <div class="ui left icon input">
                <input type="password" placeholder="Mot de passe" v-model="mdp">
                <i class="lock icon"></i>
              </div>
            </div>
          </div>
        </div>

        <button class="ui button" type="submit">Envoyer</button>
      </form>

      <br>
      <p>Already have an account ? <a href="login.html">Login</a></p>
    </div>
  </div>

  <script src="./assets/js/vue.js"></script>
  <script src="./assets/js/jquery-3.3.1.min.js"></script>
  <script src="./assets/js/app.js"></script>
  <script src="./assets/js/register.js"></script>
</body>
</html>
